h1, h3
{
    background-color: aquamarine;
    color: rgb(16, 56, 116);
    margin-left: 50px;
    padding-top: 30px;   
}
h3
{
    background-color: aliceblue;
    color: rgb(100, 177, 22);
}
h2
{
    background-color: black;
    color: aliceblue;
    text-align: center;  
}
#food1, #food2, #food3, #food4, #food5, #food6
{
    width:20%;
    border: 5px dotted Black;   
    display: inline block;
    flex-wrap: wrap;
    height: 30%;   
}
span
{
    background-color: aqua;   
}
.foodimgs
{
    text-align: center;
}